In [187]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import plotly
import seaborn as sns; sns.set()
from matplotlib import dates
import altair as alt
import math

In [188]:
#read the csv and show the head
jedi = pd.read_csv('jedi_v1_og.csv', low_memory=False)
jedi.head()

,Event #,GOES Flare Start Time,GOES Flare Peak Time,GOES Flare Class,Pre-Flare Start Time,Pre-Flare End Time,Flare Interrupt,9.4 Pre-Flare Irradiance [W/m2],13.1 Pre-Flare Irradiance [W/m2],13.3 Pre-Flare Irradiance [W/m2],...,103.2 by 63.0 Fitting Score,103.2 by 71.9 Fitting Score,103.2 by 72.2 Fitting Score,103.2 by 77.0 Fitting Score,103.2 by 79.0 Fitting Score,103.2 by 83.6 Fitting Score,103.2 by 95.0 Fitting Score,103.2 by 97.3 Fitting Score,103.2 by 97.7 Fitting Score,103.2 by 102.6 Fitting Score
0,1.0,2010-05-04 16:15:00.000,2010-05-04 16:29:00.000,C3.6,2010-05-04 08:29:00.000,2010-05-04 16:29:00.000,True,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,2010-05-05 07:09:00.000,2010-05-05 07:16:00.000,C2.3,2010-05-04 23:16:00.000,2010-05-05 07:16:00.000,True,0.000004,0.000002,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,2010-05-05 11:37:00.000,2010-05-05 11:52:00.000,C8.8,2010-05-04 23:16:00.000,2010-05-05 07:16:00.000,True,0.000004,0.000002,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,2010-05-05 17:13:00.000,2010-05-05 17:19:00.000,M1.2,2010-05-04 23:16:00.000,2010-05-05 07:16:00.000,False,0.000004,0.000002,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,2010-05-07 07:29:00.000,2010-05-07 07:42:00.000,C2.0,2010-05-06 23:42:00.000,2010-05-07 07:42:00.000,True,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [189]:
jedi_sub = jedi[['19.5 Depth [%]', '17.1 Depth [%]', '30.4 Depth [%]', '21.1 Depth [%]']]

In [190]:
def index_of_nans(values):
    """returns an array that contains the indices of when the elements equal nan, must pass it a 2d numpy array"""
    useless_euvs = []
    for index, elem in enumerate(values):
        if math.isnan(elem):
            useless_euvs.append(index)
    
    return useless_euvs

In [191]:
ind_of_empty_events = index_of_nans(jedi_sub.T.describe().values[1])

In [192]:
event_num = jedi.filter(regex='Event #')
GOES_flare_data= jedi.filter(regex='GOES Flare ')
pre_flare_start = jedi.filter(regex='Pre-Flare Start Time')
pre_flare_end = jedi.filter(regex='Pre-Flare End Time')
flare_interrupt = jedi.filter(regex='Flare Interrupt')

type(event_num)

pandas.core.frame.DataFrame

In [193]:
useless_event_nums = []
for i in range(len(ind_of_empty_events)):
    for k in range(len(jedi_sub)):
        if ind_of_empty_events[i] == k:
            useless_event_nums.append(event_num.values[k])

In [194]:
jedi_sub.head(10)

   19.5 Depth [%]  17.1 Depth [%]  30.4 Depth [%]  21.1 Depth [%]
0             NaN             NaN             NaN             NaN
1             NaN             NaN             NaN             NaN
2             NaN             NaN             NaN             NaN
3             NaN             NaN        0.093239             NaN
4             NaN             NaN             NaN             NaN
5             NaN             NaN             NaN             NaN
6             NaN             NaN             NaN             NaN
7             NaN        0.420038             NaN             NaN
8             NaN        0.900706        0.054656             NaN
9             NaN        0.235694        0.105876             NaN

In [195]:
jedi_sub.describe()

       19.5 Depth [%]  17.1 Depth [%]  30.4 Depth [%]  21.1 Depth [%]
count      343.000000      338.000000      621.000000      319.000000
mean         1.616278        1.557309        0.641082        1.639358
std          1.948313        1.525887        0.893133        2.086991
min          0.000333        0.002962        0.000526        0.006233
25%          0.376743        0.421045        0.130372        0.287005
50%          1.012425        1.096147        0.342509        0.824832
75%          2.062317        2.122782        0.714671        2.028294
max         13.024037        8.871504        6.777720       11.151263

In [196]:
#watch out if you run this more than once, end with the a weird recursion-ish problem
# DONT RUN AGAIN
frames = [event_num, GOES_flare_data, pre_flare_start, pre_flare_end, flare_interrupt, jedi_sub]
jedi_sub_v2 = pd.concat(frames, axis=1)

In [197]:
jedi_sub_copy = jedi_sub_v2.copy()

In [198]:
useless_event_nums

[array([1.]),
 array([2.]),
 array([3.]),
 array([5.]),
 array([6.]),
 array([7.]),
 array([12.]),
 array([13.]),
 array([14.]),
 array([15.]),
 array([16.]),
 array([17.]),
 array([22.]),
 array([25.]),
 array([26.]),
 array([35.]),
 array([37.]),
 array([37.]),
 array([39.]),
 array([42.]),
 array([43.]),
 array([44.]),
 array([46.]),
 array([52.]),
 array([52.]),
 array([52.]),
 array([52.]),
 array([53.]),
 array([53.]),
 array([55.]),
 array([58.]),
 array([58.]),
 array([59.]),
 array([59.]),
 array([62.]),
 array([64.]),
 array([65.]),
 array([66.]),
 array([67.]),
 array([68.]),
 array([69.]),
 array([72.]),
 array([72.]),
 array([73.]),
 array([73.]),
 array([74.]),
 array([74.]),
 array([75.]),
 array([76.]),
 array([77.]),
 array([83.]),
 array([83.]),
 array([85.]),
 array([91.]),
 array([95.]),
 array([96.]),
 array([97.]),
 array([101.]),
 array([102.]),
 array([103.]),
 array([104.]),
 array([105.]),
 array([106.]),
 array([107.]),
 array([108.]),
 array([112.]),
 array([115.]),
 array([116.]),
 array([117.]),
 array([118.]),
 array([119.]),
 array([120.]),
 array([121.]),
 array([122.]),
 array([123.]),
 array([124.]),
 array([125.]),
 array([126.]),
 array([127.]),
 array([128.]),
 array([129.]),
 array([130.]),
 array([131.]),
 array([132.]),
 array([133.]),
 array([134.]),
 array([135.]),
 array([136.]),
 array([137.]),
 array([138.]),
 array([139.]),
 array([140.]),
 array([141.]),
 array([142.]),
 array([211.]),
 array([212.]),
 array([213.]),
 array([214.]),
 array([215.]),
 array([216.]),
 array([217.]),
 array([218.]),
 array([219.]),
 array([220.]),
 array([221.]),
 array([225.]),
 array([226.]),
 array([230.]),
 array([231.]),
 array([232.]),
 array([233.]),
 array([234.]),
 array([235.]),
 array([238.]),
 array([239.]),
 array([247.]),
 array([248.]),
 array([249.]),
 array([250.]),
 array([251.]),
 array([252.]),
 array([253.]),
 array([255.]),
 array([256.]),
 array([257.]),
 array([258.]),
 array([259.]),
 array([260.]),
 array([261.]),
 array([262.]),
 array([263.]),
 array([264.]),
 array([265.]),
 array([266.]),
 array([267.]),
 array([268.]),
 array([269.]),
 array([270.]),
 array([271.]),
 array([272.]),
 array([273.]),
 array([274.]),
 array([275.]),
 array([276.]),
 array([277.]),
 array([278.]),
 array([279.]),
 array([280.]),
 array([281.]),
 array([282.]),
 array([283.]),
 array([284.]),
 array([285.]),
 array([286.]),
 array([287.]),
 array([288.]),
 array([289.]),
 array([290.]),
 array([291.]),
 array([292.]),
 array([293.]),
 array([359.]),
 array([360.]),
 array([361.]),
 array([362.]),
 array([363.]),
 array([364.]),
 array([365.]),
 array([366.]),
 array([367.]),
 array([368.]),
 array([369.]),
 array([370.]),
 array([371.]),
 array([372.]),
 array([373.]),
 array([374.]),
 array([375.]),
 array([378.]),
 array([381.]),
 array([382.]),
 array([383.]),
 array([384.]),
 array([385.]),
 array([386.]),
 array([387.]),
 array([388.]),
 array([389.]),
 array([390.]),
 array([391.]),
 array([392.]),
 array([393.]),
 array([394.]),
 array([395.]),
 array([397.]),
 array([398.]),
 array([400.]),
 array([402.]),
 array([407.]),
 array([409.]),
 array([410.]),
 array([412.]),
 array([413.]),
 array([416.]),
 array([417.]),
 array([418.]),
 array([420.]),
 array([421.]),
 array([422.]),
 array([423.]),
 array([424.]),
 array([425.]),
 array([426.]),
 array([428.]),
 array([429.]),
 array([430.]),
 array([431.]),
 array([432.]),
 array([433.]),
 array([434.]),
 array([463.]),
 array([464.]),
 array([465.]),
 array([467.]),
 array([471.]),
 array([472.]),
 array([473.]),
 array([474.]),
 array([475.]),
 array([476.]),
 array([477.]),
 array([478.]),
 array([479.]),
 array([480.]),
 array([481.]),
 array([482.]),
 array([483.]),
 array([484.]),
 array([485.]),
 array([486.]),
 array([487.]),
 array([488.]),
 array([489.]),
 array([502.]),
 array([503.]),
 array([506.]),
 array([507.]),
 array([508.]),
 array([509.]),
 array([510.]),
 array([511.]),
 array([512.]),
 array([525.]),
 array([527.]),
 array([528.]),
 array([529.]),
 array([530.]),
 array([531.]),
 array([532.]),
 array([533.]),
 array([535.]),
 array([536.]),
 array([537.]),
 array([538.]),
 array([539.]),
 array([540.]),
 array([541.]),
 array([542.]),
 array([543.]),
 array([544.]),
 array([545.]),
 array([546.]),
 array([547.]),
 array([548.]),
 array([549.]),
 array([550.]),
 array([551.]),
 array([552.]),
 array([553.]),
 array([554.]),
 array([555.]),
 array([556.]),
 array([557.]),
 array([558.]),
 array([559.]),
 array([560.]),
 array([561.]),
 array([562.]),
 array([564.]),
 array([565.]),
 array([566.]),
 array([567.]),
 array([568.]),
 array([570.]),
 array([571.]),
 array([572.]),
 array([573.]),
 array([574.]),
 array([575.]),
 array([576.]),
 array([577.]),
 array([578.]),
 array([582.]),
 array([584.]),
 array([585.]),
 array([586.]),
 array([589.]),
 array([590.]),
 array([591.]),
 array([592.]),
 array([592.]),
 array([595.]),
 array([598.]),
 array([599.]),
 array([601.]),
 array([602.]),
 array([604.]),
 array([606.]),
 array([607.]),
 array([608.]),
 array([611.]),
 array([617.]),
 array([618.]),
 array([619.]),
 array([622.]),
 array([623.]),
 array([651.]),
 array([652.]),
 array([653.]),
 array([655.]),
 array([656.]),
 array([657.]),
 array([658.]),
 array([659.]),
 array([660.]),
 array([661.]),
 array([662.]),
 array([663.]),
 array([664.]),
 array([665.]),
 array([666.]),
 array([667.]),
 array([668.]),
 array([669.]),
 array([670.]),
 array([671.]),
 array([672.]),
 array([673.]),
 array([675.]),
 array([676.]),
 array([677.]),
 array([679.]),
 array([680.]),
 array([683.]),
 array([685.]),
 array([686.]),
 array([688.]),
 array([689.]),
 array([690.]),
 array([691.]),
 array([692.]),
 array([693.]),
 array([695.]),
 array([696.]),
 array([697.]),
 array([698.]),
 array([700.]),
 array([706.]),
 array([708.]),
 array([710.]),
 array([711.]),
 array([712.]),
 array([714.]),
 array([717.]),
 array([718.]),
 array([719.]),
 array([720.]),
 array([721.]),
 array([722.]),
 array([723.]),
 array([724.]),
 array([725.]),
 array([726.]),
 array([727.]),
 array([728.]),
 array([729.]),
 array([730.]),
 array([731.]),
 array([732.]),
 array([733.]),
 array([739.]),
 array([745.]),
 array([749.]),
 array([750.]),
 array([752.]),
 array([752.]),
 array([758.]),
 array([761.]),
 array([762.]),
 array([763.]),
 array([764.]),
 array([769.]),
 array([770.]),
 array([771.]),
 array([772.]),
 array([773.]),
 array([775.]),
 array([776.]),
 array([782.]),
 array([784.]),
 array([786.]),
 array([786.]),
 array([787.]),
 array([788.]),
 array([792.]),
 array([800.]),
 array([801.]),
 array([802.]),
 array([803.]),
 array([804.]),
 array([805.]),
 array([806.]),
 array([809.]),
 array([810.]),
 array([810.]),
 array([811.]),
 array([812.]),
 array([813.]),
 array([814.]),
 array([815.]),
 array([816.]),
 array([817.]),
 array([818.]),
 array([819.]),
 array([820.]),
 array([821.]),
 array([822.]),
 array([823.]),
 array([824.]),
 array([825.]),
 array([826.]),
 array([827.]),
 array([828.]),
 array([829.]),
 array([830.]),
 array([831.]),
 array([832.]),
 array([833.]),
 array([834.]),
 array([835.]),
 array([836.]),
 array([837.]),
 array([838.]),
 array([839.]),
 array([840.]),
 array([841.]),
 array([842.]),
 array([843.]),
 array([844.]),
 array([845.]),
 array([846.]),
 array([847.]),
 array([848.]),
 array([849.]),
 array([850.]),
 array([851.]),
 array([852.]),
 array([853.]),
 array([854.]),
 array([855.]),
 array([856.]),
 array([857.]),
 array([858.]),
 array([859.]),
 array([860.]),
 array([861.]),
 array([862.]),
 array([863.]),
 array([864.]),
 array([865.]),
 array([881.]),
 array([882.]),
 array([883.]),
 array([884.]),
 array([886.]),
 array([888.]),
 array([889.]),
 array([890.]),
 array([891.]),
 array([892.]),
 array([893.]),
 array([894.]),
 array([896.]),
 array([897.]),
 array([898.]),
 array([899.]),
 array([900.]),
 array([901.]),
 array([901.]),
 array([902.]),
 array([903.]),
 array([904.]),
 array([905.]),
 array([906.]),
 array([907.]),
 array([908.]),
 array([909.]),
 array([910.]),
 array([911.]),
 array([912.]),
 array([913.]),
 array([915.]),
 array([917.]),
 array([918.]),
 array([919.]),
 array([920.]),
 array([922.]),
 array([923.]),
 array([924.]),
 array([925.]),
 array([926.]),
 array([928.]),
 array([929.]),
 array([931.]),
 array([932.]),
 array([933.]),
 array([936.]),
 array([938.]),
 array([940.]),
 array([942.]),
 array([943.]),
 array([945.]),
 array([946.]),
 array([947.]),
 array([948.]),
 array([950.]),
 array([952.]),
 array([954.]),
 array([954.]),
 array([955.]),
 array([956.]),
 array([957.]),
 array([958.]),
 array([959.]),
 array([960.]),
 array([961.]),
 array([962.]),
 array([963.]),
 array([964.]),
 array([965.]),
 array([966.]),
 array([968.]),
 array([970.]),
 array([971.]),
 array([973.]),
 array([974.]),
 array([977.]),
 array([979.]),
 array([980.]),
 array([984.]),
 array([985.]),
 array([986.]),
 array([987.]),
 array([989.]),
 array([990.]),
 array([991.]),
 array([993.]),
 array([995.]),
 array([1031.]),
 array([1032.]),
 array([1033.]),
 array([1035.]),
 array([1038.]),
 array([1039.]),
 array([1040.]),
 array([1041.]),
 array([1042.]),
 array([1043.]),
 array([1044.]),
 array([1045.]),
 array([1046.]),
 array([1047.]),
 array([1048.]),
 array([1049.]),
 array([1050.]),
 array([1051.]),
 array([1052.]),
 array([1055.]),
 array([1056.]),
 array([1057.]),
 array([1058.]),
 array([1059.]),
 array([1064.]),
 array([1066.]),
 array([1067.]),
 array([1069.]),
 array([1071.]),
 array([1072.]),
 array([1073.]),
 array([1115.]),
 array([1116.]),
 array([1117.]),
 array([1120.]),
 array([1121.]),
 array([1125.]),
 array([1127.]),
 array([1128.]),
 array([1129.]),
 array([1130.]),
 array([1132.]),
 array([1133.]),
 array([1134.]),
 array([1135.]),
 array([1140.]),
 array([1141.]),
 array([1142.]),
 array([1143.]),
 array([1144.]),
 array([1145.]),
 array([1146.]),
 array([1153.]),
 array([1154.]),
 array([1155.]),
 array([1156.]),
 array([1157.]),
 array([1158.]),
 array([1159.]),
 array([1160.]),
 array([1161.]),
 array([1162.]),
 array([1163.]),
 array([1164.]),
 array([1166.]),
 array([1168.]),
 array([1169.]),
 array([1170.]),
 array([1199.]),
 array([1200.]),
 array([1202.]),
 array([1203.]),
 array([1204.]),
 array([1205.]),
 array([1207.]),
 array([1208.]),
 array([1209.]),
 array([1211.]),
 array([1212.]),
 array([1213.]),
 array([1214.]),
 array([1215.]),
 array([1216.]),
 array([1217.]),
 array([1218.]),
 array([1219.]),
 array([1221.]),
 array([1226.]),
 array([1237.]),
 array([1243.]),
 array([1245.]),
 array([1246.]),
 array([1247.]),
 array([1248.]),
 array([1250.]),
 array([1251.]),
 array([1252.]),
 array([1254.]),
 array([1255.]),
 array([1256.]),
 array([1260.]),
 array([1261.]),
 array([1266.]),
 array([1269.]),
 array([1271.]),
 array([1271.]),
 array([1271.]),
 array([1271.]),
 array([1271.]),
 array([1271.]),
 array([1271.]),
 array([1271.]),
 array([1273.]),
 array([1273.]),
 array([1273.]),
 array([1273.]),
 array([1273.]),
 array([1273.]),
 array([1273.]),
 array([1274.]),
 array([1274.]),
 array([1274.]),
 array([1274.]),
 array([1274.]),
 array([1274.]),
 array([1275.]),
 array([1275.]),
 array([1275.]),
 array([1275.]),
 array([1275.]),
 array([1275.]),
 array([1276.]),
 array([1276.]),
 array([1277.]),
 array([1277.]),
 array([1277.]),
 array([1277.]),
 array([1277.]),
 array([1277.]),
 array([1278.]),
 array([1278.]),
 array([1279.]),
 array([1279.]),
 array([1279.]),
 array([1279.]),
 array([1279.]),
 array([1279.]),
 array([1280.]),
 array([1280.]),
 array([1281.]),
 array([1281.]),
 array([1281.]),
 array([1281.]),
 array([1281.]),
 array([1282.]),
 array([1282.]),
 array([1282.]),
 array([1282.]),
 array([1283.]),
 array([1283.]),
 array([1283.]),
 array([1283.]),
 array([1287.]),
 array([1287.]),
 array([1287.]),
 array([1290.]),
 array([1291.]),
 array([1293.]),
 array([1293.]),
 array([1297.]),
 array([1298.]),
 array([1299.]),
 array([1300.]),
 array([1301.]),
 array([1302.]),
 array([1303.]),
 array([1304.]),
 array([1307.]),
 array([1308.]),
 array([1309.]),
 array([1315.]),
 array([1320.]),
 array([1320.]),
 array([1321.]),
 array([1322.]),
 array([1323.]),
 array([1324.]),
 array([1324.]),
 array([1325.]),
 array([1325.]),
 array([1326.]),
 array([1327.]),
 array([1328.]),
 array([1329.]),
 array([1330.]),
 array([1331.]),
 array([1332.]),
 array([1333.]),
 array([1334.]),
 array([1335.]),
 array([1335.]),
 array([1336.]),
 array([1336.]),
 array([1337.]),
 array([1338.]),
 array([1339.]),
 array([1339.]),
 array([1340.]),
 array([1340.]),
 array([1341.]),
 array([1341.]),
 array([1343.]),
 array([1344.]),
 array([1345.]),
 array([1345.]),
 array([1346.]),
 array([1346.]),
 array([1348.]),
 array([1351.]),
 array([1351.]),
 array([1352.]),
 array([1353.]),
 array([1354.]),
 array([1355.]),
 array([1356.]),
 array([1357.]),
 array([1358.]),
 array([1358.]),
 array([1359.]),
 array([1359.]),
 array([1360.]),
 array([1360.]),
 array([1361.]),
 array([1361.]),
 array([1362.]),
 array([1363.]),
 array([1363.]),
 array([1364.]),
 array([1364.]),
 array([1365.]),
 array([1366.]),
 array([1367.]),
 array([1367.]),
 array([1368.]),
 array([1368.]),
 array([1369.]),
 array([1370.]),
 array([1371.]),
 array([1372.]),
 array([1372.]),
 array([1373.]),
 array([1374.]),
 array([1375.]),
 array([1376.]),
 array([1377.]),
 array([1377.]),
 array([1378.]),
 array([1379.]),
 array([1380.]),
 array([1381.]),
 array([1381.]),
 array([1382.]),
 array([1383.]),
 array([1384.]),
 array([1385.]),
 array([1386.]),
 array([1387.]),
 array([1388.]),
 array([1389.]),
 array([1390.]),
 array([1390.]),
 array([1391.]),
 array([1392.]),
 array([1393.]),
 array([1394.]),
 array([1395.]),
 array([1396.]),
 array([1397.]),
 array([1398.]),
 array([1398.]),
 array([1399.]),
 array([1400.]),
 array([1401.]),
 array([1402.]),
 array([1403.]),
 array([1404.]),
 array([1405.]),
 array([1406.]),
 array([1407.]),
 array([1407.]),
 array([1408.]),
 array([1408.]),
 array([1409.]),
 array([1410.]),
 array([1410.]),
 array([1411.]),
 array([1411.]),
 array([1412.]),
 array([1412.]),
 array([1413.]),
 array([1415.]),
 array([1415.]),
 array([1416.]),
 array([1416.]),
 array([1417.]),
 array([1418.]),
 array([1418.]),
 array([1419.]),
 array([1419.]),
 array([1420.]),
 array([1420.]),
 array([1424.]),
 array([1424.]),
 array([1425.]),
 array([1425.]),
 array([1426.]),
 array([1427.]),
 array([1428.]),
 array([1428.]),
 array([1429.]),
 array([1429.]),
 array([1430.]),
 array([1431.]),
 array([1432.]),
 array([1433.]),
 array([1433.]),
 array([1434.]),
 array([1435.]),
 array([1436.]),
 array([1436.]),
 array([1437.]),
 array([1437.]),
 array([1438.]),
 array([1439.]),
 array([1439.]),
 array([1440.]),
 array([1441.]),
 array([1441.]),
 array([1442.]),
 array([1443.]),
 array([1444.]),
 array([1444.]),
 array([1445.]),
 array([1445.]),
 array([1447.]),
 array([1448.]),
 array([1451.]),
 array([1451.]),
 array([1452.]),
 array([1452.]),
 array([1453.]),
 array([1454.]),
 array([1454.]),
 array([1455.]),
 array([1455.]),
 array([1456.]),
 array([1457.]),
 array([1457.]),
 array([1458.]),
 array([1459.]),
 array([1460.]),
 array([1460.]),
 array([1461.]),
 array([1461.]),
 array([1462.]),
 array([1469.]),
 array([1470.]),
 array([1470.]),
 array([1472.]),
 array([1478.]),
 array([1478.]),
 array([1482.]),
 array([1482.]),
 array([1489.]),
 array([1489.]),
 array([1490.]),
 array([1491.]),
 array([1491.]),
 array([1492.]),
 array([1493.]),
 array([1497.]),
 array([1502.]),
 array([1517.]),
 array([1519.]),
 array([1520.]),
 array([1521.]),
 array([1522.]),
 array([1523.]),
 array([1524.]),
 array([1525.]),
 array([1526.]),
 array([1527.]),
 array([1531.]),
 array([1535.]),
 array([1535.]),
 array([1536.]),
 array([1537.]),
 array([1541.]),
 array([1543.]),
 array([1544.]),
 array([1545.]),
 array([1549.]),
 array([1550.]),
 array([1551.]),
 array([1553.]),
 array([1554.]),
 array([1555.]),
 array([1556.]),
 array([1557.]),
 array([1558.]),
 array([1559.]),
 array([1560.]),
 array([1561.]),
 array([1562.]),
 array([1563.]),
 array([1564.]),
 array([1565.]),
 array([1566.]),
 array([1567.]),
 array([1568.]),
 array([1569.]),
 array([1570.]),
 array([1571.]),
 array([1572.]),
 array([1573.]),
 array([1574.]),
 array([1575.]),
 array([1576.]),
 array([1577.]),
 array([1578.]),
 array([1579.]),
 array([1580.]),
 ...]

In [199]:
jedi_sub_copy

,Event #,GOES Flare Start Time,GOES Flare Peak Time,GOES Flare Class,Pre-Flare Start Time,Pre-Flare End Time,Flare Interrupt,19.5 Depth [%],17.1 Depth [%],30.4 Depth [%],21.1 Depth [%]
0,1.0,2010-05-04 16:15:00.000,2010-05-04 16:29:00.000,C3.6,2010-05-04 08:29:00.000,2010-05-04 16:29:00.000,True,NaN,NaN,NaN,NaN
1,2.0,2010-05-05 07:09:00.000,2010-05-05 07:16:00.000,C2.3,2010-05-04 23:16:00.000,2010-05-05 07:16:00.000,True,NaN,NaN,NaN,NaN
2,3.0,2010-05-05 11:37:00.000,2010-05-05 11:52:00.000,C8.8,2010-05-04 23:16:00.000,2010-05-05 07:16:00.000,True,NaN,NaN,NaN,NaN
3,4.0,2010-05-05 17:13:00.000,2010-05-05 17:19:00.000,M1.2,2010-05-04 23:16:00.000,2010-05-05 07:16:00.000,False,NaN,NaN,0.093239,NaN
4,5.0,2010-05-07 07:29:00.000,2010-05-07 07:42:00.000,C2.0,2010-05-06 23:42:00.000,2010-05-07 07:42:00.000,True,NaN,NaN,NaN,NaN
5,6.0,2010-05-08 04:51:00.000,2010-05-08 04:59:00.000,C9.3,2010-05-07 20:59:00.000,2010-05-08 04:59:00.000,True,NaN,NaN,NaN,NaN
6,7.0,2010-05-08 11:40:00.000,2010-05-08 11:50:00.000,C1.8,2010-05-07 20:59:00.000,2010-05-08 04:59:00.000,True,NaN,NaN,NaN,NaN
7,9.0,2010-06-12 00:30:00.000,2010-06-12 00:57:00.000,M2.0,2010-06-11 16:57:00.000,2010-06-12 00:57:00.000,True,NaN,0.420038,NaN,NaN
8,10.0,2010-06-12 03:57:00.000,2010-06-12 04:06:00.000,C1.0,2010-06-11 16:57:00.000,2010-06-12 00:57:00.000,True,NaN,0.900706,0.054656,NaN
9,11.0,2010-06-12 09:02:00.000,2010-06-12 09:17:00.000,C6.1,2010-06-11 16:57:00.000,2010-06-12 00:57:00.000,True,NaN,0.235694,0.105876,NaN
10,12.0,2010-06-13 05:30:00.000,2010-06-13 05:39:00.000,M1.0,2010-06-12 21:39:00.000,2010-06-13 05:39:00.000,True,NaN,NaN,NaN,NaN
11,13.0,2010-06-13 06:08:00.000,2010-06-13 06:11:00.000,C1.2,2010-06-12 21:39:00.000,2010-06-13 05:39:00.000,True,NaN,NaN,NaN,NaN
12,14.0,2010-06-13 07:05:00.000,2010-06-13 07:08:00.000,C1.2,2010-06-12 21:39:00.000,2010-06-13 05:39:00.000,True,NaN,NaN,NaN,NaN
13,15.0,2010-06-13 07:31:00.000,2010-06-13 07:34:00.000,C1.2,2010-06-12 21:39:00.000,2010-06-13 05:39:00.000,True,NaN,NaN,NaN,NaN
14,16.0,2010-06-13 08:06:00.000,2010-06-13 08:13:00.000,C1.2,2010-06-12 21:39:00.000,2010-06-13 05:39:00.000,True,NaN,NaN,NaN,NaN
15,17.0,2010-06-13 09:41:00.000,2010-06-13 09:46:00.000,C1.7,2010-06-12 21:39:00.000,2010-06-13 05:39:00.000,True,NaN,NaN,NaN,NaN
16,18.0,2010-06-13 10:47:00.000,2010-06-13 10:53:00.000,C1.5,2010-06-12 21:39:00.000,2010-06-13 05:39:00.000,True,NaN,1.243839,0.121056,NaN
17,19.0,2010-06-14 00:44:00.000,2010-06-14 00:51:00.000,C1.5,2010-06-13 16:51:00.000,2010-06-14 00:51:00.000,False,NaN,NaN,0.005830,NaN
18,20.0,2010-07-08 22:03:00.000,2010-07-08 22:16:00.000,C1.2,2010-07-08 14:16:00.000,2010-07-08 22:16:00.000,True,NaN,NaN,0.332573,NaN
19,21.0,2010-07-09 08:53:00.000,2010-07-09 09:01:00.000,C1.8,2010-07-09 01:01:00.000,2010-07-09 09:01:00.000,True,NaN,0.570929,NaN,NaN
20,22.0,2010-07-09 19:26:00.000,2010-07-09 19:51:00.000,C3.4,2010-07-09 11:51:00.000,2010-07-09 19:51:00.000,False,NaN,NaN,NaN,NaN
21,23.0,2010-07-13 10:43:00.000,2010-07-13 10:51:00.000,C2.6,2010-07-13 02:51:00.000,2010-07-13 10:51:00.000,False,NaN,1.259809,0.679178,NaN
22,24.0,2010-07-14 12:11:00.000,2010-07-14 12:30:00.000,C1.4,2010-07-14 04:30:00.000,2010-07-14 12:30:00.000,True,0.507776,NaN,0.038258,2.042699
23,25.0,2010-07-14 20:31:00.000,2010-07-14 20:47:00.000,C3.6,2010-07-14 12:47:00.000,2010-07-14 20:47:00.000,False,NaN,NaN,NaN,NaN
24,26.0,2010-07-17 17:27:00.000,2010-07-17 18:01:00.000,C2.4,2010-07-17 10:01:00.000,2010-07-17 18:01:00.000,False,NaN,NaN,NaN,NaN
25,27.0,2010-07-20 13:38:00.000,2010-07-20 13:45:00.000,C1.4,2010-07-20 05:45:00.000,2010-07-20 13:45:00.000,False,NaN,NaN,0.262453,NaN
26,28.0,2010-07-27 04:12:00.000,2010-07-27 04:24:00.000,C2.2,2010-07-26 20:24:00.000,2010-07-27 04:24:00.000,False,NaN,NaN,0.235729,NaN
27,29.0,2010-07-28 20:33:00.000,2010-07-28 20:42:00.000,C2.8,2010-07-28 12:42:00.000,2010-07-28 20:42:00.000,False,NaN,0.338523,0.134384,NaN
28,30.0,2010-08-01 07:55:00.000,2010-08-01 08:26:00.000,C3.2,2010-08-01 00:26:00.000,2010-08-01 08:26:00.000,False,NaN,NaN,0.127793,1.575178
29,31.0,2010-08-05 20:39:00.000,2010-08-05 21:35:00.000,C1.3,2010-08-05 13:35:00.000,2010-08-05 21:35:00.000,False,0.225339,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
4740,5030.0,2014-04-13 22:11:00.000,2014-04-13 22:16:00.000,C1.0,2014-04-13 04:41:00.000,2014-04-13 12:41:00.000,True,NaN,NaN,NaN,NaN
4741,5031.0,2014-04-13 23:46:00.000,2014-04-13 23:52:00.000,C3.0,2014-04-13 04:41:00.000,2014-04-13 12:41:00.000,True,NaN,NaN,NaN,NaN
4742,5032.0,2014-04-14 02:06:00.000,2014-04-14 02:11:00.000,C1.6,2014-04-13 04:41:00.000,2014-04-13 12:41:00.000,True,NaN,NaN,NaN,NaN
4743,5033.0,2014-04-14 04:18:00.000,2014-04-14 04:38:00.000,C7.5,2014-04-13 04:41:00.000,2014-04-13 12:41:00.000,True,NaN,NaN,NaN,NaN
4744,5034.0,2014-04-14 07:08:00.000,2014-04-14 07:12:00.000,C1.7,2014-04-13 04:41:00.000,2014-04-13 12:41:00.000,True,NaN,NaN,NaN,NaN
4745,5035.0,2014-04-14 07:49:00.000,2014-04-14 08:00:00.000,C5.2,2014-04-13 04:41:00.000,2014-04-13 12:41:00.000,True,NaN,NaN,NaN,NaN
4746,5036.0,2014-04-14 08:57:00.000,2014-04-14 09:00:00.000,C1.8,2014-04-13 04:41:00.000,2014-04-13 12:41:00.000,True,NaN,NaN,NaN,NaN
4747,5037.0,2014-04-14 08:57:00.000,2014-04-14 09:00:00.000,C1.8,2014-04-13 04:41:00.000,2014-04-13 12:41:00.000,True,NaN,NaN,NaN,NaN
4748,5038.0,2014-04-14 09:06:00.000,2014-04-14 09:12:00.000,C2.5,2014-04-13 04:41:00.000,2014-04-13 12:41:00.000,True,NaN,NaN,NaN,NaN
4749,5039.0,2014-04-14 09:25:00.000,2014-04-14 09:27:00.000,C1.5,2014-04-13 04:41:00.000,2014-04-13 12:41:00.000,True,NaN,NaN,NaN,NaN
4750,5040.0,2014-04-14 10:45:00.000,2014-04-14 10:57:00.000,C1.1,2014-04-13 04:41:00.000,2014-04-13 12:41:00.000,True,NaN,NaN,NaN,NaN
4751,5041.0,2014-04-14 12:17:00.000,2014-04-14 12:29:00.000,C3.3,2014-04-13 04:41:00.000,2014-04-13 12:41:00.000,True,NaN,NaN,NaN,NaN
4752,5042.0,2014-04-14 15:30:00.000,2014-04-14 15:45:00.000,C1.8,2014-04-13 04:41:00.000,2014-04-13 12:41:00.000,True,NaN,NaN,NaN,NaN
4753,5043.0,2014-04-14 18:14:00.000,2014-04-14 18:17:00.000,C1.0,2014-04-13 04:41:00.000,2014-04-13 12:41:00.000,True,NaN,NaN,NaN,NaN
4754,5044.0,2014-04-14 19:42:00.000,2014-04-14 19:45:00.000,C1.1,2014-04-13 04:41:00.000,2014-04-13 12:41:00.000,True,NaN,NaN,NaN,NaN
4755,5045.0,2014-04-15 03:10:00.000,2014-04-15 03:17:00.000,C4.3,2014-04-13 04:41:00.000,2014-04-13 12:41:00.000,True,NaN,NaN,NaN,NaN
4756,5046.0,2014-04-15 05:49:00.000,2014-04-15 05:56:00.000,C1.2,2014-04-13 04:41:00.000,2014-04-13 12:41:00.000,True,NaN,NaN,NaN,NaN
4757,5047.0,2014-04-15 06:31:00.000,2014-04-15 06:36:00.000,C1.0,2014-04-13 04:41:00.000,2014-04-13 12:41:00.000,True,NaN,NaN,NaN,NaN
4758,5048.0,2014-04-15 06:42:00.000,2014-04-15 06:47:00.000,C3.6,2014-04-13 04:41:00.000,2014-04-13 12:41:00.000,True,NaN,NaN,NaN,NaN
4759,5049.0,2014-04-15 07:04:00.000,2014-04-15 07:09:00.000,C1.3,2014-04-13 04:41:00.000,2014-04-13 12:41:00.000,True,NaN,NaN,NaN,NaN
4760,5050.0,2014-04-15 08:53:00.000,2014-04-15 08:57:00.000,C1.3,2014-04-13 04:41:00.000,2014-04-13 12:41:00.000,True,NaN,NaN,NaN,NaN
4761,5051.0,2014-04-15 09:15:00.000,2014-04-15 09:23:00.000,C8.6,2014-04-13 04:41:00.000,2014-04-13 12:41:00.000,True,NaN,NaN,NaN,NaN
4762,5052.0,2014-04-15 09:53:00.000,2014-04-15 09:57:00.000,C4.4,2014-04-13 04:41:00.000,2014-04-13 12:41:00.000,True,NaN,NaN,NaN,NaN
4763,5053.0,2014-04-15 12:34:00.000,2014-04-15 12:46:00.000,C3.6,2014-04-13 04:41:00.000,2014-04-13 12:41:00.000,True,NaN,NaN,NaN,NaN
4764,5054.0,2014-04-15 13:22:00.000,2014-04-15 13:26:00.000,C1.5,2014-04-13 04:41:00.000,2014-04-13 12:41:00.000,True,NaN,NaN,NaN,NaN
4765,5055.0,2014-04-15 17:53:00.000,2014-04-15 17:59:00.000,C7.3,2014-04-13 04:41:00.000,2014-04-13 12:41:00.000,True,NaN,NaN,NaN,NaN
4766,5056.0,2014-04-15 23:43:00.000,2014-04-15 23:49:00.000,C1.6,2014-04-13 04:41:00.000,2014-04-13 12:41:00.000,True,NaN,NaN,NaN,NaN
4767,5057.0,2014-04-16 01:10:00.000,2014-04-16 01:18:00.000,C1.9,2014-04-13 04:41:00.000,2014-04-13 12:41:00.000,True,NaN,NaN,NaN,NaN
4768,5058.0,2014-04-16 01:52:00.000,2014-04-16 01:59:00.000,C3.0,2014-04-13 04:41:00.000,2014-04-13 12:41:00.000,True,NaN,NaN,NaN,NaN
4769,5059.0,2014-04-16 02:08:00.000,2014-04-16 02:11:00.000,C2.8,2014-04-13 04:41:00.000,2014-04-13 12:41:00.000,True,NaN,NaN,NaN,NaN

In [200]:
jedi_sub_noNaN_events = jedi_sub_copy.dropna(thresh=8)

In [204]:
jedi_sub_noNaN_events

,Event #,GOES Flare Start Time,GOES Flare Peak Time,GOES Flare Class,Pre-Flare Start Time,Pre-Flare End Time,Flare Interrupt,19.5 Depth [%],17.1 Depth [%],30.4 Depth [%],21.1 Depth [%]
3,4.0,2010-05-05 17:13:00.000,2010-05-05 17:19:00.000,M1.2,2010-05-04 23:16:00.000,2010-05-05 07:16:00.000,False,NaN,NaN,0.093239,NaN
7,9.0,2010-06-12 00:30:00.000,2010-06-12 00:57:00.000,M2.0,2010-06-11 16:57:00.000,2010-06-12 00:57:00.000,True,NaN,0.420038,NaN,NaN
8,10.0,2010-06-12 03:57:00.000,2010-06-12 04:06:00.000,C1.0,2010-06-11 16:57:00.000,2010-06-12 00:57:00.000,True,NaN,0.900706,0.054656,NaN
9,11.0,2010-06-12 09:02:00.000,2010-06-12 09:17:00.000,C6.1,2010-06-11 16:57:00.000,2010-06-12 00:57:00.000,True,NaN,0.235694,0.105876,NaN
16,18.0,2010-06-13 10:47:00.000,2010-06-13 10:53:00.000,C1.5,2010-06-12 21:39:00.000,2010-06-13 05:39:00.000,True,NaN,1.243839,0.121056,NaN
17,19.0,2010-06-14 00:44:00.000,2010-06-14 00:51:00.000,C1.5,2010-06-13 16:51:00.000,2010-06-14 00:51:00.000,False,NaN,NaN,0.005830,NaN
18,20.0,2010-07-08 22:03:00.000,2010-07-08 22:16:00.000,C1.2,2010-07-08 14:16:00.000,2010-07-08 22:16:00.000,True,NaN,NaN,0.332573,NaN
19,21.0,2010-07-09 08:53:00.000,2010-07-09 09:01:00.000,C1.8,2010-07-09 01:01:00.000,2010-07-09 09:01:00.000,True,NaN,0.570929,NaN,NaN
21,23.0,2010-07-13 10:43:00.000,2010-07-13 10:51:00.000,C2.6,2010-07-13 02:51:00.000,2010-07-13 10:51:00.000,False,NaN,1.259809,0.679178,NaN
22,24.0,2010-07-14 12:11:00.000,2010-07-14 12:30:00.000,C1.4,2010-07-14 04:30:00.000,2010-07-14 12:30:00.000,True,0.507776,NaN,0.038258,2.042699
25,27.0,2010-07-20 13:38:00.000,2010-07-20 13:45:00.000,C1.4,2010-07-20 05:45:00.000,2010-07-20 13:45:00.000,False,NaN,NaN,0.262453,NaN
26,28.0,2010-07-27 04:12:00.000,2010-07-27 04:24:00.000,C2.2,2010-07-26 20:24:00.000,2010-07-27 04:24:00.000,False,NaN,NaN,0.235729,NaN
27,29.0,2010-07-28 20:33:00.000,2010-07-28 20:42:00.000,C2.8,2010-07-28 12:42:00.000,2010-07-28 20:42:00.000,False,NaN,0.338523,0.134384,NaN
28,30.0,2010-08-01 07:55:00.000,2010-08-01 08:26:00.000,C3.2,2010-08-01 00:26:00.000,2010-08-01 08:26:00.000,False,NaN,NaN,0.127793,1.575178
29,31.0,2010-08-05 20:39:00.000,2010-08-05 21:35:00.000,C1.3,2010-08-05 13:35:00.000,2010-08-05 21:35:00.000,False,0.225339,NaN,NaN,NaN
30,32.0,2010-08-07 17:55:00.000,2010-08-07 18:24:00.000,M1.0,2010-08-07 10:24:00.000,2010-08-07 18:24:00.000,False,NaN,1.466233,0.012644,NaN
31,33.0,2010-08-14 09:38:00.000,2010-08-14 10:05:00.000,C4.4,2010-08-14 02:05:00.000,2010-08-14 10:05:00.000,True,NaN,NaN,0.010888,0.078367
32,34.0,2010-08-14 18:03:00.000,2010-08-14 18:08:00.000,C1.6,2010-08-14 10:08:00.000,2010-08-14 18:08:00.000,False,NaN,NaN,0.470367,NaN
36,38.0,2010-08-18 04:45:00.000,2010-08-18 05:48:00.000,C4.5,2010-08-17 16:01:00.000,2010-08-18 00:01:00.000,False,NaN,NaN,0.095976,NaN
37,38.0,2010-08-18 04:45:00.000,2010-08-18 05:48:00.000,C4.5,2010-08-17 16:01:00.000,2010-08-18 00:01:00.000,False,NaN,NaN,0.095976,NaN
39,40.0,2010-09-08 23:05:00.000,2010-09-08 23:33:00.000,C3.3,2010-09-08 15:33:00.000,2010-09-08 23:33:00.000,False,NaN,2.220794,0.098815,NaN
40,41.0,2010-09-17 01:17:00.000,2010-09-17 01:22:00.000,C1.3,2010-09-16 17:22:00.000,2010-09-17 01:22:00.000,False,NaN,NaN,0.552286,NaN
44,45.0,2010-09-21 07:38:00.000,2010-09-21 07:53:00.000,C1.4,2010-09-20 23:53:00.000,2010-09-21 07:53:00.000,False,NaN,NaN,0.036170,NaN
45,45.0,2010-09-21 07:38:00.000,2010-09-21 07:53:00.000,C1.4,2010-09-20 23:53:00.000,2010-09-21 07:53:00.000,False,NaN,NaN,0.036170,NaN
46,45.0,2010-09-21 07:38:00.000,2010-09-21 07:53:00.000,C1.4,2010-09-20 23:53:00.000,2010-09-21 07:53:00.000,False,NaN,NaN,0.036170,NaN
48,47.0,2010-09-28 22:05:00.000,2010-09-28 22:11:00.000,C2.0,2010-09-28 14:11:00.000,2010-09-28 22:11:00.000,False,NaN,NaN,0.371713,0.220382
49,47.0,2010-09-28 22:05:00.000,2010-09-28 22:11:00.000,C2.0,2010-09-28 14:11:00.000,2010-09-28 22:11:00.000,False,NaN,NaN,0.371713,0.220382
50,47.0,2010-09-28 22:05:00.000,2010-09-28 22:11:00.000,C2.0,2010-09-28 14:11:00.000,2010-09-28 22:11:00.000,False,NaN,NaN,0.371713,0.220382
51,48.0,2010-10-04 16:28:00.000,2010-10-04 16:35:00.000,C2.3,2010-10-04 08:35:00.000,2010-10-04 16:35:00.000,False,NaN,NaN,0.083463,NaN
52,48.0,2010-10-04 16:28:00.000,2010-10-04 16:35:00.000,C2.3,2010-10-04 08:35:00.000,2010-10-04 16:35:00.000,False,NaN,NaN,0.083463,NaN
...,...,...,...,...,...,...,...,...,...,...,...
4545,4833.0,2014-03-12 07:21:00.000,2014-03-12 07:57:00.000,C7.2,2014-03-07 10:57:00.000,2014-03-07 18:57:00.000,True,NaN,NaN,3.733731,NaN
4547,4835.0,2014-03-12 17:20:00.000,2014-03-12 17:40:00.000,C5.3,2014-03-07 10:57:00.000,2014-03-07 18:57:00.000,True,NaN,NaN,NaN,10.377393
4548,4836.0,2014-03-12 22:28:00.000,2014-03-12 22:34:00.000,M9.3,2014-03-07 10:57:00.000,2014-03-07 18:57:00.000,True,NaN,NaN,3.182713,9.370096
4551,4839.0,2014-03-13 19:03:00.000,2014-03-13 19:19:00.000,M1.2,2014-03-13 05:44:00.000,2014-03-13 13:44:00.000,True,NaN,2.371427,NaN,NaN
4554,4842.0,2014-03-14 05:46:00.000,2014-03-14 05:52:00.000,C4.7,2014-03-13 19:20:00.000,2014-03-14 03:20:00.000,True,NaN,NaN,0.237151,1.344916
4555,4843.0,2014-03-14 08:32:00.000,2014-03-14 10:21:00.000,C5.0,2014-03-13 19:20:00.000,2014-03-14 03:20:00.000,True,NaN,NaN,0.121841,0.221773
4556,4844.0,2014-03-15 00:20:00.000,2014-03-15 00:26:00.000,C3.1,2014-03-14 16:26:00.000,2014-03-15 00:26:00.000,True,NaN,NaN,0.037637,NaN
4560,4848.0,2014-03-15 09:30:00.000,2014-03-15 09:40:00.000,C5.0,2014-03-14 16:26:00.000,2014-03-15 00:26:00.000,True,NaN,NaN,0.503455,NaN
4562,4850.0,2014-03-15 17:06:00.000,2014-03-15 17:15:00.000,C6.1,2014-03-14 16:26:00.000,2014-03-15 00:26:00.000,True,0.084304,NaN,0.242295,0.038511
4565,4853.0,2014-03-16 08:06:00.000,2014-03-16 08:13:00.000,C2.2,2014-03-15 22:04:00.000,2014-03-16 06:04:00.000,True,1.322187,NaN,0.359754,NaN
4630,4918.0,2014-03-25 08:05:00.000,2014-03-25 08:08:00.000,C1.1,2014-03-24 21:29:00.000,2014-03-25 05:29:00.000,True,NaN,NaN,NaN,0.027648
4632,4920.0,2014-03-26 00:35:00.000,2014-03-26 00:54:00.000,C1.1,2014-03-25 15:56:00.000,2014-03-25 23:56:00.000,True,NaN,NaN,0.513723,NaN
4633,4921.0,2014-03-26 03:18:00.000,2014-03-26 03:26:00.000,C1.4,2014-03-25 15:56:00.000,2014-03-25 23:56:00.000,True,NaN,NaN,0.419300,NaN
4638,4926.0,2014-03-27 00:27:00.000,2014-03-27 00:37:00.000,C1.3,2014-03-26 13:23:00.000,2014-03-26 21:23:00.000,True,NaN,NaN,0.282755,NaN
4639,4927.0,2014-03-27 20:20:00.000,2014-03-27 20:29:00.000,C4.8,2014-03-27 12:29:00.000,2014-03-27 20:29:00.000,True,1.981697,1.867570,NaN,NaN
4640,4928.0,2014-03-28 12:55:00.000,2014-03-28 13:12:00.000,C1.1,2014-03-28 05:12:00.000,2014-03-28 13:12:00.000,True,NaN,NaN,0.020369,NaN
4647,4935.0,2014-03-28 23:44:00.000,2014-03-28 23:51:00.000,M2.6,2014-03-28 05:12:00.000,2014-03-28 13:12:00.000,True,NaN,NaN,0.665770,NaN
4652,4940.0,2014-03-29 07:50:00.000,2014-03-29 08:00:00.000,C2.1,2014-03-28 05:12:00.000,2014-03-28 13:12:00.000,True,NaN,NaN,0.174806,NaN
4662,4950.0,2014-03-29 21:41:00.000,2014-03-29 22:48:00.000,C2.1,2014-03-28 05:12:00.000,2014-03-28 13:12:00.000,True,NaN,NaN,1.078563,NaN
4668,4956.0,2014-03-30 08:07:00.000,2014-03-30 08:26:00.000,C1.2,2014-03-28 05:12:00.000,2014-03-28 13:12:00.000,True,NaN,NaN,2.331730,NaN
4669,4957.0,2014-03-30 11:48:00.000,2014-03-30 11:55:00.000,M2.1,2014-03-28 05:12:00.000,2014-03-28 13:12:00.000,True,NaN,NaN,2.029286,NaN
4676,4964.0,2014-03-31 04:01:00.000,2014-03-31 04:11:00.000,C3.3,2014-03-28 05:12:00.000,2014-03-28 13:12:00.000,True,NaN,NaN,1.679126,NaN
4677,4965.0,2014-03-31 07:20:00.000,2014-03-31 08:07:00.000,M1.4,2014-03-28 05:12:00.000,2014-03-28 13:12:00.000,True,NaN,NaN,2.471866,NaN
4682,4970.0,2014-04-01 00:43:00.000,2014-04-01 00:50:00.000,C3.3,2014-03-28 05:12:00.000,2014-03-28 13:12:00.000,True,NaN,NaN,3.070594,NaN
4714,5002.0,2014-04-05 10:40:00.000,2014-04-05 10:50:00.000,C1.9,2014-04-05 01:57:00.000,2014-04-05 09:57:00.000,True,0.794772,0.505530,0.166979,1.015135
4719,5008.0,2014-04-07 06:22:00.000,2014-04-07 06:31:00.000,C4.0,2014-04-06 10:30:00.000,2014-04-06 18:30:00.000,True,NaN,NaN,0.325991,NaN
4721,5011.0,2014-04-08 23:58:00.000,2014-04-09 00:04:00.000,C1.2,2014-04-08 16:04:00.000,2014-04-09 00:04:00.000,True,NaN,NaN,NaN,0.245076
4722,5012.0,2014-04-09 18:08:00.000,2014-04-09 18:53:00.000,C1.9,2014-04-09 10:53:00.000,2014-04-09 18:53:00.000,True,NaN,NaN,NaN,0.971861
4723,5013.0,2014-04-09 20:44:00.000,2014-04-09 21:24:00.000,C2.1,2014-04-09 10:53:00.000,2014-04-09 18:53:00.000,True,NaN,NaN,0.701570,1.277929
4736,5026.0,2014-04-12 04:56:00.000,2014-04-12 05:12:00.000,C1.0,2014-04-11 21:12:00.000,2014-04-12 05:12:00.000,True,NaN,NaN,0.338004,NaN

In [203]:
jedi_sub_noNaN_events.filter(like='Depth').T.describe()

,3,7,8,9,16,17,18,19,21,22,...,4669,4676,4677,4682,4714,4719,4721,4722,4723,4736
count,1.000000,1.000000,2.000000,2.000000,2.000000,1.00000,1.000000,1.000000,2.000000,3.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000
mean,0.093239,0.420038,0.477681,0.170785,0.682448,0.00583,0.332573,0.570929,0.969494,0.862911,...,2.029286,1.679126,2.471866,3.070594,0.620604,0.325991,0.245076,0.971861,0.989749,0.338004
std,NaN,NaN,0.598248,0.091795,0.793928,NaN,NaN,NaN,0.410568,1.048349,...,NaN,NaN,NaN,NaN,0.367427,NaN,NaN,NaN,0.407547,NaN
min,0.093239,0.420038,0.054656,0.105876,0.121056,0.00583,0.332573,0.570929,0.679178,0.038258,...,2.029286,1.679126,2.471866,3.070594,0.166979,0.325991,0.245076,0.971861,0.701570,0.338004
25%,0.093239,0.420038,0.266169,0.138331,0.401752,0.00583,0.332573,0.570929,0.824336,0.273017,...,2.029286,1.679126,2.471866,3.070594,0.420892,0.325991,0.245076,0.971861,0.845660,0.338004
50%,0.093239,0.420038,0.477681,0.170785,0.682448,0.00583,0.332573,0.570929,0.969494,0.507776,...,2.029286,1.679126,2.471866,3.070594,0.650151,0.325991,0.245076,0.971861,0.989749,0.338004
75%,0.093239,0.420038,0.689194,0.203239,0.963144,0.00583,0.332573,0.570929,1.114652,1.275237,...,2.029286,1.679126,2.471866,3.070594,0.849863,0.325991,0.245076,0.971861,1.133839,0.338004
max,0.093239,0.420038,0.900706,0.235694,1.243839,0.00583,0.332573,0.570929,1.259809,2.042699,...,2.029286,1.679126,2.471866,3.070594,1.015135,0.325991,0.245076,0.971861,1.277929,0.338004

In [213]:
jedi_sub_noNaN_events.to_csv(path_or_buf='jedi_condensed.csv', index=False)